
<!doctype html>
<html lang="en">
    <head>

        <!-- Webpage Title -->
        <title>Home | MOOD LOG</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bulma CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

        <!-- Google Font CSS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Londrina+Shadow&display=swap" rel="stylesheet">

        <!-- JS -->
        <script src="{{ url_for('static', filename='common.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
        <script src="https://kit.fontawesome.com/3310fda83a.js" crossorigin="anonymous"></script>

        <!-- moodlog JS CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/common.css') }}">
        <script src="{{ url_for('static',filename='./js/common.js') }}"></script>

        <script>
            $(document).ready(function () {
                loadMoodListForIndex();
            });
        </script>
        <script>
            $(document).ready(function () {
            })

            function sign_out() {
                $.removeCookie('mytoken', {path: '/'});
                alert('로그아웃!')
                window.location.href = "/login"
            }

            function update_profile() {
                let name = $('#input-name').val()
                let file = $('#input-pic')[0].files[0]
                let about = $("#textarea-about").val()
                let form_data = new FormData()
                form_data.append("file_give", file)
                form_data.append("name_give", name)
                form_data.append("about_give", about)
                console.log(name, file, about, form_data)

                $.ajax({
                    type: "POST",
                    url: "/update_profile",
                    data: form_data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert(response["msg"])
                            window.location.reload()

                        }
                    }
                });
            }
        </script>
        <style>
            .btn {
                margin: auto;
                width: 10px;
                position: center;
                min-width: 400px
            }
        </style>

    </head>
    <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span id="title">MOODLOG</span>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                        🎧 모아듣기
                    </a>
                    <a class="navbar-item" href="/rank">
                        🎖 랭킹
                    </a>
                    <a class="navbar-item" href="/user/{{user_info['id']}}">
                        🙋‍ 내 로그
                    </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <img src="../static/profile_pics/{{user_info['pro']}}" class="is-rounded" style="margin-right:10px">
                    <span style="margin-right:10px;">{{user_info['nick']}}님 안녕하세요.</span>
                    <div class="buttons">
                        <a class="button is-danger" href="javascript:logout()">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="hero is-primary" id="section_hero">
        <div class="hero-body">
                <section class="hero is-primary">
                    <div class="hero-body" style="padding-bottom:1rem; margin:auto; min-width: 400px">
                        <a class="image is-128x128" href="#" style="padding-bottom:0; margin:auto;">
                            <img class="is-rounded" src="../static/profile_pics/{{ this_page_user_info['pro'] }}">
                        </a>
                        <p style="font-weight: bold; font-size: large">{{ this_page_user_info['nick'] }}</p>
                        <small>@{{ this_page_user_info['id'] }}</small>
                        </p>
                    </div>
                </section>
        </div>
    </section>

    <section class="section" id="section_mainbody">
        {% for doc in thisUsersPost %}
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="../static/profile_pics/{{doc.post_user_pro}}" class="is-rounded">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content" >
                        <p>
                            <strong>{{doc.post_user_nick}}</strong> <small>{{doc.post_user_id}}</small>

                        </p>
                        <span class="tag is-info is-light">{{ doc.post_mood }}</span>

                        <!-- 큰일났다 사운드 클라우드가 jinja를 막았다... js로 우회해야함 -->
                        <div id="{{doc.post_link}}" class="iHateSoundCloud">

                        </div>

                        <div class="box" style="width:100%; margin-top: 5px;">


                            <div class="columns is-mobile">
                                <div class="column is-one-quarter">
                                    <img src="{{doc.post_image}}">
                                </div>
                                <div class="column">
                                    <h4>{{doc.post_title}}</h4>
                                    <p>
                                        {% for line in doc.post_con.split('\n') %}
                                        {{ line }}
                                        <br />
                                        {% endfor %}
                                    </p>

                                    <div style="width:100%; text-align: right">
                                        <div>
                                            <button class="button is-danger" onclick="playMusic('{{ doc.post_link }}')">
                                                <span class="icon">
                                                   <i class="fa-solid fa-play"></i>
                                                </span>
                                                <span>재생</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="level is-mobile" style="margin-top:20px; margin-bottom:20px;">
                        <div class="level-left">
                        </div>
                    </nav>
                </div>
                <div class="media-right">
                </div>
            </article>
            {% endfor %}
    </section>

    <div id="div_rightButton">
        <button class="button is-dark is-rounded is-large" onclick="onTop()">
            <span><i class="fa-solid fa-arrow-up"></i></span>
        </button>
    </div>

    <div id="div_addPost" class="modal">
        <div class="modal-background"></div>

        <div class="modal-content">
            <div class="box">
                <div style="margin-bottom:40px;"><strong>🎧 포스트 등록</strong></div>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="{{ nickname }}" id="post_userId" disabled>
                        <span class="icon is-small is-left">
                                <i class="fa-solid fa-user"></i>
                            </span>
                        <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="포스트 제목" id="post_title">
                        <span class="icon is-small is-left">
                                <i class="fa-solid fa-music"></i>
                            </span>
                        <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="Sound Cloud 태그 (전체 태그를 넣어주세요.)"
                               id="post_soundCloudData">
                        <span class="icon is-small is-left">
                                <i class="fa-solid fa-link"></i>
                            </span>
                        <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                    </p>
                </div>
                <textarea class="textarea" placeholder="메시지 작성" id="post_message"></textarea>


                <div class="select" style="margin-top: 20px;">
                    <select id="post_selectMood">

                    </select>
                </div>

                <div style="margin-top: 30px;">
                    <button class="button is-success" style="width:100%" onclick="uploadPost()">
                            <span class="icon is-small">
                                <i class="fas fa-check"></i>
                            </span>
                        <span>저장</span>
                    </button>
                </div>
            </div>
        </div>

        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    </body>
</html>
